<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Training Log</title>
    <meta name="description" content="List of Training Logs">
    <meta name="author" content="Jonathan Fokkan">

    <!--<link rel="stylesheet" href="css/styles.css">-->
    <link href="/static/nv.d3.min.css" rel="stylesheet">
  </head>
  <body>
    <!--<script src="js/scripts.js"></script>-->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/nv.d3.min.js"></script>

    <div id="chart" style="height:600px; width:8000px;">
      <svg></svg>
    </div>

    <script>
      d3.json('/static/cumulativeLineData.json', function(data) {
      nv.addGraph(function() {
      var chart = nv.models.cumulativeLineChart()
      .x(function(d) { return d[0] })
      .y(function(d) { return d[1]/100 }) //adjusting, 100% is 1.00, not 100 as it is in the data
      .color(d3.scale.category10().range())
      .useInteractiveGuideline(true)
      ;

      chart.xAxis
      .tickValues([1078030800000,1122782400000,1167541200000,1251691200000])
      .tickFormat(function(d) {
      return d3.time.format('%x')(new Date(d))
      });

      chart.yAxis
      .tickFormat(d3.format(',.1%'));

      d3.select('#chart svg')
      .datum(data)
      .call(chart);

      //TODO: Figure out a good way to do this automatically
      nv.utils.windowResize(chart.update);

      return chart;
      });
      });
    </script>

    <ul>
      {{range .Logs}}
      <li><a href="/{{.}}">{{.}}</a></li>
      {{else}} <li>No Training Logs</li> {{end}}
    </ul>
  </body>
</html>
