<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Training Log</title>
    <meta name="description" content="List of Training Logs">
    <meta name="author" content="Jonathan Fokkan">

    <!--<link rel="stylesheet" href="css/styles.css">-->
    <link href="/static/css/nv.d3.min.css" rel="stylesheet">
  </head>
  <body>
    <!--<script src="js/scripts.js"></script>-->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/js/nv.d3.min.js"></script>

    <div id="chart" style="height:400px; width:600px;">
      <svg></svg>
    </div>
    <script src="/static/js/cumulativeLineChart.js"></script>

    <ul>
      {{range .Logs}}
      <li><a href="/{{.}}">{{.}}</a></li>
      {{else}} <li>No Training Logs</li> {{end}}
    </ul>
  </body>
</html>
